{% unless page.url == "/sitemap.xml" %}
<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'th' }}">
  <!-- Head -->
  <head>
    {% if page.redirect %}
      {% if page.redirect == true %}
        {% assign redirect = site.baseurl | append: '/' %}
      {% elsif page.redirect contains '://' %}
        {% assign redirect = page.redirect %}
      {% else %}
        {% assign redirect = page.redirect | relative_url %}
      {% endif %}
      <meta http-equiv="refresh" content="3; url={{ redirect }}">
    {% endif %}
    
    {% include head.liquid %}
    {% if page.page_stylesheet %}
      <link rel="stylesheet" href="{{ '/assets/css/' | append: page.page_stylesheet | relative_url | bust_css_cache }}">
    {% endif %}
  
    {% if page.need_aos %}
      {% include aos-init.liquid need_aos=true duration=700 easing="ease-out-cubic" once=true delay=0 %}
    {% endif %}
  </head>
  
  <!-- Body -->
  <body class="{% if site.navbar_fixed %}fixed-top-nav{% endif %} {% if page.navbar_auto_hide %}navbar-auto-hide{% endif %} {% unless site.footer_fixed %}sticky-bottom-footer{% endunless %}" 
        {% if page.lang %}data-lang="{{ page.lang }}"{% endif %}>
        
    {% include header.liquid %}

    <!-- Content - no top margin when using hero landing -->
    <div class="container {% if page.hero_landing %}mt-0{% else %}mt-5{% endif %} landing-page-content" role="main">
      {{ content }}
    </div>

    <!-- Footer -->
    {% include footer.liquid %}

    <!-- Contact Button (only added if page.contact_info is true) -->
    {% assign display_contact = page.contact_info | default: site.contact_info %}
    {% if display_contact %}
      {% include contact_info_button.liquid %}
    {% endif %}

    <!-- JavaScripts -->
    {% include scripts.liquid %}
  </body>
</html>
{% endunless %}